/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 oct. 2016, 01:23:52
    Author     : Nadir
*/
.all{
    display: block;
    color: white;
}
.all_first_half,.all_second_half{
    width: 45%;
    display: inline-block;
}
.all_second_half{
    position: absolute;
}
.all_little_half{
    width: 5%;
    display: inline-block;
}
.big_all .all_first_half{
    width: 30%;
    display: inline-block;
    position: absolute;
    margin-left: 5%;
}
.big_all .all_second_half{
    position: absolute;
    right: 0;
    display: inline-block;
    width: 30%;
    margin-right: 5%;
}
h2{
    text-align: center;
}
